
.book { margin: 1.5rem .75rem;  }

.book__content { margin-bottom: 1.5rem; padding-bottom: 2rem; box-shadow: rgba(0,0,0,.5) 0 8px 37px; background: #fff; }

.book__image { text-align: center; }
.book__image img { width: 200px; max-width: 100%; }
.book__image__play { position: absolute; bottom: 4rem; left: 50%; transform: translateX(-50%); display: block; width: 90px; height: 90px; border: 0; background: url(../images/btn-play.svg) center no-repeat; background-size: 100% auto; cursor: pointer; transition: opacity .5s ease; }
.book__image__play:hover { opacity: .8; }

.book__content__container { margin: 0 1.25rem; }

.book__content__container h1 { margin-bottom: .75rem; font-weight: bold; font-size: 1.25rem; line-height: 1.75rem; color: #4a4b4b; }
.book__content__container .lead { margin-bottom: 1.5rem; font-weight: bold; font-size: .625rem; line-height: 1rem; color: rgba(134,134,134,.7); }
.book__content__container .lead strong { display: block; }


@media screen and (min-width: 596px) {
  .book { display: flex; margin: 0 auto; box-shadow: rgba(0,0,0,.5) 0 8px 37px; background: #fff; }
  .book__content { width: 50%; padding-bottom: 0; margin-bottom: 0; box-shadow: none; background: none; }
  .book__image { position: relative; width: 50%; }
  .book__image img { width: auto; }
}

@media screen and (min-width: 696px) {
  .book { min-width: 696px; min-height: 492px; }
  .book__image img { position: absolute; top: 50%; right: 0; transform: translateY(-50%); display: block; min-width: 347px; }
  .book__image__play { width: 108px; height: 108px; }
  .book__content__container { margin: 0 3.5rem; }
}
