
.users { margin: 1.5rem .75rem; box-shadow: rgba(0,0,0,.5) 0 8px 37px; background: #fff; }

.users__content { margin-bottom: 1.5rem; padding-bottom: 2rem; }

.users__content__container { margin: 0 1.25rem; }

.users__content__container h1 { margin-bottom: .75rem; font-weight: bold; font-size: 1.25rem; line-height: 1.75rem; color: #4a4b4b; }
.users__content__container table { width: 100%; }
.users__content__container table th,
.users__content__container table td { padding: .75rem 0; border-bottom: 1px solid #ddd; text-align: left; }
.users__content__container table th { font-weight: bold; }


@media screen and (min-width: 596px) {
  .users__content { padding-bottom: 0; margin-bottom: 0; }
}

@media screen and (min-width: 696px) {
  .users { min-width: 696px; min-height: 492px; }
  .users__content__container { margin: 0 3.5rem; }
}
