.brand-header { padding: 1rem 1.25rem 2rem; }
.brand-header .brand { width: 56px; height: 21px; margin: 0 auto; background: url(../images/ottoradio.svg) center no-repeat; background-size: 100% auto; }
.brand-header .brand a { display: block; width: 100%; height: 100%; }

@media screen and (min-width: 596px) {
  .brand-header .brand { margin: 0; }
}
