.sign-up header { text-align: center; }

.sign-up .help { margin-bottom: 1rem; }

.sign-up .text--error,
.sign-up .text--sucess { font-size: .875rem; color: #39393a; }
.sign-up .text--error { color: #ea0051; }
.sign-up .text--sucess:before { display: inline-block; width: 20px; height: 20px; margin: 0 .5rem 3px 0; background: url(../images/icon-check-sucess.svg) center no-repeat; background-size: 100% auto; content: ''; vertical-align: middle; }

.sign-up__feedback h1 { margin-bottom: 2rem; }
.sign-up__feedback p { margin-bottom: 2rem; font-size: 1.125rem; line-height: 1.5rem; color: #4a4b4b; }

@media screen and (min-width: 596px) {
  .sign-up header { text-align: left; }
}
