/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* font */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');


/* helpers */
.show-for-sr { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute !important; width: 1px; }
.hide { display: none !important; }
.text-center { text-align: center; }
.float-right { float: right; }
.float-left { float: left; }


/* form */
form .group { display: flex; }
form label { display: block; margin-bottom: .75rem; font-size: .625rem; color: #868686; }

form input[type=text],
form input[type=email],
form input[type=password],
form textarea { width: 100%; padding: .5rem 0; border-width: 0; border-bottom: 1px solid #d8d8d8; font-size: 1rem; font-family: 'PT Sans', sans-serif; outline: 0; }

form .invalid:not(.empty) input[type=text],
form .invalid:not(.empty) input[type=email],
form .invalid:not(.empty) input[type=password],
form .invalid:not(.empty) textarea { border-color: #e52940; }

form footer { margin-top: 2rem; text-align: center; }
form footer button[type=submit] { min-width: 148px; }

/* button */
.button { padding: .5rem; border: 0; border-radius: 2px; background: #e52940; font-weight: bold; font-size: .625rem; font-family: 'PT Sans', sans-serif; color: #fff; cursor: pointer; transition: background-color .2s ease; text-decoration: none; }
.button[disabled] { background: #cfc8c9; cursor: default; }
.button--appstore { display: inline-block; width: 89px; height: 31px; background: url(./images/btn-appstore.svg) center no-repeat; background-size: 100% auto; }